name: Kotlin Build

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Fix Gradle 403 Proxy Error
      run: |
        echo "org.gradle.jvmargs=-Dhttps.protocols=TLSv1.2 -Djavax.net.ssl.trustStoreType=JKS" >> gradle.properties
        echo "systemProp.gradle.wrapperUrl=https://services.gradle.org/distributions/gradle-8.7-bin.zip" >> gradle.properties
        cat gradle.properties

    - name: Grant execute permission for gradlew
      run: chmod +x ./gradlew

    - name: Run Build
      run: ./gradlew build --stacktrace
